// === GENERAL CLASS NAMES USED IN THE PROJECT ===

// <<<-------------  General Classes ------------>>>

/* See below the general classes: 

// WRAPPERS
 - container
 - title-wrapper
 - content-wrapper
 - content
 - content-header
 - content-body
 - content-footer
 - form-wrapper
 - list-wrapper

 //DISPLAY
 - d-none
 - d-flex
 - d-grid
 - opacity-0
 - opacity-1

 //CARDS
 - card
 - card-header
 - card-body
 - card-footer
 - card-img-wrapper
 - card-img

 //FONTS
 - display-1__dark 
 - display-1__primary
 - text-small
 - text-large
 - text-center

 // BUTTONS
 - btn-group
 - btn
    - btn btn-primary
    - btn btn-secondary
    - btn btn-white
    - btn btn-dark
    - btn btn-success
    - btn btn-danger
    - btn btn-warning
    - btn btn-info
    - btn btn-category

  // COLORS
  - color
    - color-primary
    - color-secondary
    - color-white
    - color-light
    - color-dark
    - color-info
    - color-success
    - color-danger
    - color-warning

  // SIZING
  // Max-width in px
  - w-large
  - w-medium
  - w-small
  // Width IN %
    - w-100
    - w-50
    - w-25  

  // FORM
  - form-wrapper
  - form-control   
*/
