// PADDING

// all around
.p-1 {
    padding: $p1;
}

.p-2 {
    padding: $p2;
}

.p-3 {
    padding: $p3;
}

.p-4 {
    padding: $p4;
}

.p-5 {
    padding: $p5;
}

// top & bottom

.py-1 {
    padding-top: $p1;
    padding-bottom: $p1;
}

.py-2 {
    padding-top: $p2;
    padding-bottom: $p2;
}

.py-3 {
    padding-top: $p3;
    padding-bottom: $p3;
}

.py-4 {
    padding-top: $p4;
    padding-bottom: $p4;
}

.py-5 {
    padding-top: $p5;
    padding-bottom: $p5;
}

// sides 

.px-1 {
    padding: $p1;
}

.px-2 {
    padding: $p2;
}

.px-3 {
    padding: $p3;
}

.px-4 {
    padding: $p4;
}

.px-5 {
    padding: $p5;
}


// MARGIN

// all around
.m-1 {
    margin: $p1;
}

.m-2 {
    padding: $p2;
}

.m-3 {
    padding: $p3;
}

.m-4 {
    padding: $p4;
}

.m-5 {
    padding: $p5;
}

// top
.mt-1 {
    margin-top: $p1;
}

.mt-2 {
    margin-top: $p2;
}

.mt-3 {
    margin-top: $p3;
}

.mt-4 {
    margin-top: $p4;
}

.mt-5 {
    margin-top: $p5;
}

.mt-6 {
    margin-top: $rem-size * 4;
}

// top
.mb-1 {
    margin-bottom: $p1;
}

.mb-2 {
    margin-bottom: $p2;
}

.mb-3 {
    margin-bottom: $p3;
}

.mb-4 {
    margin-bottom: $p4;
}

.mb-5 {
    margin-bottom: $p5;
}

.mb-6 {
    margin-bottom: $rem-size * 4;
}

// GAP

.gap-1 {
    gap: $gap-1;
}

.gap-2 {
    gap: $gap-2;
}

.gap-3 {
    gap: $gap-3;
}

.gap-4 {
    gap: $gap-4;
}