// === FLEX GLOBAL STYLES ===

// <<<-------------Flex Classes ------------>>>

/* See below the grid classes: 
 - d-flex
 - flex-column
 - flex-row
 - justify-content-center
 - justify-content-between
 - justify-content-evenly
 - justify-content-end
 - justify-content-start
 - align-items-center

*/

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

// Justify content
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

// Align items

.align-items-center {
  align-items: center;
}
