// === SPACING GLOBAL STYLES ===

// <<<------------- Spacing Classes ------------>>>

/* See below the spacing classes: 

*/

// PADDING

// No Padding
.no-padding {
  padding-top: 0;
}

// all around
.p-1 {
  padding: $sp1;
}

.p-2 {
  padding: $sp2;
}

.p-3 {
  padding: $sp3;
}

.p-4 {
  padding: $sp4;
}

.p-5 {
  padding: $sp5;
}

// top & bottom

.py-1 {
  padding-top: $sp1;
  padding-bottom: $sp1;
}

.py-2 {
  padding-top: $sp2;
  padding-bottom: $sp2;
}

.py-3 {
  padding-top: $sp3;
  padding-bottom: $sp3;
}

.py-4 {
  padding-top: $sp4;
  padding-bottom: $sp4;
}

.py-5 {
  padding-top: $sp5;
  padding-bottom: $sp5;
}

// Margin auto

.m-auto {
  margin: 0 auto;
}

// sides

.px-1 {
  // padding: $sp1;
  padding-left: $sp1;
  padding-right: $sp1;
}

.px-2 {
  padding: $sp2;
}

.px-3 {
  padding: $sp3;
}

.px-4 {
  padding: $sp4;
}

.px-5 {
  padding: $sp5;
}

// MARGIN

.m-auto {
  margin: 0 auto;
}

// all around
.m-1 {
  margin: $sp1;
}

.m-2 {
  padding: $sp2;
}

.m-3 {
  padding: $sp3;
}

.m-4 {
  padding: $sp4;
}

.m-5 {
  padding: $sp5;
}

// top
.mt-1 {
  margin-top: $sp1;
}

.mt-2 {
  margin-top: $sp2;
}

.mt-3 {
  margin-top: $sp3;
}

.mt-4 {
  margin-top: $sp4;
}

.mt-5 {
  margin-top: $sp5;
}

.mt-6 {
  margin-top: $rem-size * 4;
}

// bottom
.mb-1 {
  margin-bottom: $sp1;
}

.mb-2 {
  margin-bottom: $sp2;
}

.mb-3 {
  margin-bottom: $sp3;
}

.mb-4 {
  margin-bottom: $sp4;
}

.mb-5 {
  margin-bottom: $sp5;
}

.mb-6 {
  margin-bottom: $rem-size * 4;
}

// left
.ml-1 {
  margin-left: $sp1;
}

.ml-2 {
  margin-left: $sp2;
}

.ml-3 {
  margin-left: $sp3;
}

.ml-4 {
  margin-left: $sp4;
}

.ml-5 {
  margin-left: $sp5;
}

.ml-6 {
  margin-left: $rem-size * 4;
}

// GAP

.gap-1 {
  gap: $gap-1;
}

.gap-2 {
  gap: $gap-2;
}

.gap-3 {
  gap: $gap-3;
}

.gap-4 {
  gap: $gap-4;
}

.gap-5 {
  gap: $gap-5;
}

.gap-6 {
  gap: $gap-6;
}

.gap-7 {
  gap: $gap-7;
}
