body {
    background-color: $secondary;
}

.header-form-wrap {

    & .btn,
    input {
        font-size: $font-size-lg;
    }
}

.hero-left {
    max-width: 600px;

    & span {
        & h4 {
            color: $primary;
        }
    }
}

.card-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: $rem-size;
}

.knit-bullet {
    height: 20px;
    width: 20px;
    margin-right: $rem-size;
}