// === AVATARS GLOBAL STYLES ===

// <<<-------------  Avatar Classes ------------>>>

/* See below the avatars classes: 
  - avatar-name-wrapper
  - avatar-img-wrapper
  - avatar-img-wrapper-extra-large
  - avatar-img-wrapper-large
  - avatar-img-wrapper-regular
  - avatar-img-wrapper-small
  
*/

.avatar-img-wrapper {
  position: relative;
  border-radius: 100%;

  &-extra-large {
    width: $avatar-img-extra-large;
    height: $avatar-img-extra-large;

    & img {
      position: absolute;
      width: $avatar-img-extra-large;
      height: $avatar-img-extra-large;
      border-radius: 100%;
    }
  }

  &-large {
    width: $avatar-img-large;
    height: $avatar-img-large;

    & img {
      position: absolute;
      width: $avatar-img-large;
      height: $avatar-img-large;
      border-radius: 100%;
    }
  }

  &-regular {
    width: $avatar-img-regular;
    height: $avatar-img-regular;

    & img {
      position: absolute;
      width: $avatar-img-regular;
      height: $avatar-img-regular;
      border-radius: 100%;
    }
  }

  &-small {
    width: $avatar-img-small;
    height: $avatar-img-small;

    & img {
      position: absolute;
      width: $avatar-img-small;
      height: $avatar-img-small;
      border-radius: 100%;
    }
  }
}
