// === FORM STYLES ===

// <<<-------------  Form Classes ------------>>>

/*  
 - form-wrapper
 - form-control
 - input
 - label
 - placeholder
 - option
 - select
 - search
 - search-large
*/

form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="search"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: $input-padding-standard;
    font: inherit;
    cursor: auto;
    border: none;
    border-radius: $border-standard;
    outline-style: none;
    box-shadow: $box-shadow-sm;
  }
}

.search {
  &-large {
    border: none;
    padding: $input-padding-large !important;
    outline-style: none;
    cursor: auto;
    box-shadow: $box-shadow-sm;

    &:focus {
      box-shadow: $box-shadow;
      transition: $regular-transition;
    }
  }

  border: $border !important;
  box-shadow: none !important;
}

.form-wrapper .btn,
.form-wrapper input {
  font: inherit !important;
}
