// === FORM STYLES ===

// <<<-------------  Form Classes ------------>>>

/* Every time we use a button is good to know that we need the default button class together with the button we want to use ( EX: btn btn-primary ). See below the button classes: 
 - form-wrapper
 - form-control
 - input
 - label
 - placeholder
 - option
 - select

*/

.search {
  border: none;
  border-radius: $border-standard;
  outline-style: none;
  box-shadow: $box-shadow-sm;
}

.search:focus {
  box-shadow: $box-shadow;
  transition: 300ms;
}

form {
  // &-group {
  //   margin: 1.2rem 0;
  // }
  // &-text {
  //   display: block;
  //   margin-top: 0.3rem;
  //   color: #888;
  // }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: $input-padding;
    font: inherit;
    border: 1px solid #ccc;
    border: none;
    border-radius: $border-standard;
    outline-style: none;
    box-shadow: $box-shadow-sm;
  }
}
