// ===== MODAL GLOBAL STYLES ========

.modal {
  position: fixed;
  width: 92%;
  max-width: 600px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  z-index: 100;
  background-color: $light-color;
  padding: $sp6;
  border-radius: $border-standard;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: $font-size-extra-lg;
  font-weight: $font-weight-500;
}

#modal-overlay {
  position: fixed;
  opacity: 0;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#modal-overlay.active {
  pointer-events: all;
  opacity: 1;
}

// ===== CREATE POST MODAL ======

.modal-body-form {
  width: 100%;
}

// ===== EDIT PROFILE MODAL ======
