i {
    & img {
        padding: $p1;
        padding-left: $rem-size;
    }
}

.icon-nav-wrap {
    width: 100%;
    border-bottom: 1px solid $primary;
    justify-content: space-evenly;

    &>a>i>img {
        height: 40px;
    }
}