// === MAIN NAVIGATION STYLES ===

.main-nav {
  background-color: $primary-color;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;

  & a {
    color: $light-color;
  }
}

.toggle-menu {
  z-index: 100;
}

// .nav-container {
//   margin: 0 auto;
//   width: 100%;
// }

.nav-wrap {
  width: 100%;
  // margin: 0 16px;
  align-items: center;
  // max-width: 1020px;
}

.collapse-nav {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
  left: 0;
  overflow: hidden;
  top: 100px;
  height: 100vh;
  transition: 300ms;
  // background-color: $primary-color;
}

.list-item {
  display: block;
  text-align: center;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  //   .active {
  //     color: $active-color;
  //   }
}

.link {
  display: block;
  padding: 16px;
}

.secondary-nav {
  padding: 40px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  transform: translateY(0%);
  transition: 300ms;
}

/* ----------------------------- MEDIA QUERIES ---------------------- */

@media (min-width: 600px) {
  .toggle-menu {
    display: none;
  }

  .collapse-nav {
    display: flex;
    position: unset;
    transform: translateY(0%);
    z-index: 10;
    justify-content: space-between;
    height: unset;
  }

  .nav-icon-wrapper {
    justify-content: flex-end;
  }

  .nav-ul {
    display: flex;
  }

  .secondary-nav {
    padding: 0;
  }
}
